.layout{
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 5fr 1fr;
    max-width: 100%;
}
.layout header{
    background-color: red;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 2vw 3vw;
    position: sticky;
    top: 0;
}
.layout main{
    margin: 1vw;
}